@page
@model ContactModel
@{
    
}




<h3><strong>Aman Rastogi</strong><br /></h3>
<address>    
    University of Cincinnati<br />
    Graduate Student - MS IS<br/>
    Cincinnati, OH <br />
</address>

<address>
    <strong>Email:</strong> <a href="mailto:rastogan@mail.uc.edu">rastogan@mail.uc.edu</a><br />
</address>
