@page
@model CoreWiki.Pages.VijayDeverakondaModel
@{
    ViewData["Title"] = "VijayDeverakonda";

}

<h2>Vijay Deverakonda</h2>
<hr/>

<div>
    <p>
        <figure>
            <img src="~/images/vijay.jpg"
                 alt="Example" width="300" height="200" style="float:right;">
        </figure>
        Vijay Deverakonda is an Indian film actor known for his works in Telugu language films.[2] Vijay made his film debut in 2011 with Ravi Babu's romantic comedy Nuvvila (2011), but he gained recognition with his supporting role in the coming-of-age drama Yevade Subramanyam (2015). Vijay gained stardom by playing the lead role in the 2016 romantic comedy Pelli Choopulu, which won the National Film Award for Best Feature Film in Telugu and the Filmfare Award for Best Film - Telugu.
    </p>
    <p>
        Subsequently, Vijay has established himself as a leading actor of Telugu cinema by starring in lead roles in critical and commercial successes such as Arjun Reddy (2017), Mahanati (2018), Geetha Govindam (2018), Taxiwaala (2018), and Dear Comrade (2019), some of which rank among the list of highest-grossing Telugu films. His performance in Arjun Reddy won him several accolades, including the Filmfare Award for Best Actor - Telugu.[3][4] In 2019, he has received South Indian International Movie Critics Award for Best Actor for his work in Geetha Govindam.[5] Vijay was placed 72nd in the Forbes India Celebrity 100 list 2018
    </p>
</div>
<hr/>
<div class="contents" style="box-sizing: content-box;width: 500px;height: 160px;padding: 2px; border: 2px solid black;">
    <h3>Contents</h3>
    <ol>
        <li><a href="#Personal">Personal life</a></li>
        <li>
            <a href="#Career">Career</a>
            <ol>
                <li><a href="#ca">Early career and struggle (2011–2015)</a></li>
                <li><a href="#cb">Breakthrough and success (2015–present)</a></li>
            </ol>
        </li>
        <li><a href="#Films">Filmography</a></li>
    </ol>
</div>

<div>
    <h3 id="Personal">Personal life</h3>
    <hr />
    <p>
        Vijay Deverakonda was born to Telugu television director, Deverakonda Govardhan Rao and Deverakonda Madhavi in Achampet, Nagarkurnool district of Telangana.
    </p>
    <p>
        Deverakonda says, his family used to call him a rowdy each time he did something not approved by them. Overtime, he started to use the term for himself and his fans.
    </p>
</div>

<div>
    <h3 id="Career">Career</h3>
    <hr/>
    <h4 id="ca">
        <em>
            Early career and struggle (2011–2015)
        </em>
    </h4>
    <p>
        Deverakonda made his film debut by starring in Ravi Babu's romantic comedy Nuvvila in 2011, and then had a small cameo role in Sekhar Kammula's Life is Beautiful. Both films were decently successful but failed to give Deverakonda much recognition. Then, he was introduced to an assistant director at the time, Nag Ashwin, who later cast him in a supporting role for the 2015 movie Yevade Subramanyam alongside actor Nani.The film was produced by the daughters of Ashwini Dutt, a producer in the Telugu film industry. Priyanka Dutt backed him, and once shooting started, Swapna Dutt signed him onto her company. The film went on to be a critical and commercial success, and Deverakonda won high praise for his diction, energy, and role in the movie. This movie finally gave him a much-desired break in Telugu cinema.
    </p>

    <h4 id="cb">
        <em>
            Early career and struggle (2011–2015)
        </em>
    </h4>
    <p>
        Vijay's first lead role was in Pelli Choopulu, a romantic coming-of-age entertainer directed by Tharun Bhascker Dhaassyam, with Ritu Varma as the female lead. The film went on to be commercially successful and won the Best Feature Film in Telugu at the 64th National Film Awards as well as the Filmfare Award for Best Film - Telugu. He received praise for his realistic portrayal of a lazy and unmotivated chef. He then starred in a masala entertainer, Dwaraka in 2017. His next film Arjun Reddy received praise and criticism alike for being very bold and radical. Vijay's portrayal as a self-destructive, short-tempered, and alcoholic surgeon received critical acclaim, which led to him winning numerous awards, including the Filmfare Award for Best Actor - Telugu. Following Arjun Reddy was Ye Mantram Vesave, which was delayed for 5 years and finally released. It was given poor reviews from critics and could not fare well at the box office. He then starred in Mahanati, a biographical period film around life of actress Savitri. He won acclaim for playing a charismatic and easy going photographer. Deverakonda's next release in 2018 was Geetha Arts' romantic comedy Geetha Govindam, in which he starred as an innocent and nervous college professor. Deverakonda received praise for playing a subtle, boy-next-door character after an aggressive role in Arjun Reddy. His next film, released on 5 October, was the Tamil political thriller NOTA, directed by Iru Mugan-fame Anand Shankar. It performed poorly at the box office. His next project was UV Creations' supernatural comedy thriller Taxiwala in which Vijay stumbles upon a possessed car opposite Malavika Nair. As of November 2018, Vijay is currently filming for Dear Comrade a sports drama once again alongside Rashmika Mandanna and another untitled Kranthi Madhav's romantic drama opposite Rashi Khanna, Aishwarya Rajesh and Izabelle Leite.[18] He will next be seen in Hero, a Telugu film that will be dubbed in Tamil and Malayalam too. The movie will be directed by Anand Annamalai, co-writer of films like Kuttramae Thandanai and Kaakka Muttai. The film see Malavika Mohanan essay the role of Vijay's love interest. Vijay will be taking on the role of a biker in this film.
    </p>
</div>

<div>
    <h3 id="Films">Filmography</h3>
    <hr />
    <p>
        <ul>
            <li>All the films are in Telugu language, unless otherwise noted.</li>
        </ul>
    </p>
    <p>
        <table style="height: 300px; width: 700px; border-color: black;" border="solid"">
            <thead>
                <tr style="height: 35px;">
                    <th style="width: 136px; height: 34px;">Year</th>
                    <th style="width: 140px; height: 34px;">Film</th>
                    <th style="width: 140px; height: 34px;">Role(s)</th>
                    <th style="width: 238px; height: 34px;">Notes(s)</th>
                </tr>
            </thead>
            <tbody>
                <tr style="height: 35px;">
                    <td style="width: 136px; height: 34px;">2011</td>
                    <td style="width: 140px; height: 34px;"><em>Nuvvila</em></td>
                    <td style="width: 140px; height: 34px;">Vishnu</td>
                    <td style="width: 238px; height: 34px;">Film debut</td>
                </tr>
                <tr style="height: 35px;">
                    <td style="width: 136px; height: 34px;">2012</td>
                    <td style="width: 140px; height: 34px;">Life is Beautiful</td>
                    <td style="width: 140px; height: 34px;">Ajay</td>
                    <td style="width: 238px; height: 34px;">Cameo</td>
                </tr>
                <tr style="height: 55px;">
                    <td style="width: 136px; height: 58px;">2015</td>
                    <td style="width: 140px; height: 58px;">Yevade Subramanyam</td>
                    <td style="width: 140px; height: 58px;">Rishi</td>
                    <td style="width: 238px; height: 58px;">Supporting Role</td>
                </tr>
                <tr style="height: 35px;">
                    <td style="width: 136px; height: 34px;">2016</td>
                    <td style="width: 140px; height: 34px;">Pelli Choopulu</td>
                    <td style="width: 140px; height: 34px;">Prasanth</td>
                    <td style="width: 238px; height: 34px;">First Lead Role</td>
                </tr>
                <tr style="height: 35px;">
                    <td style="width: 136px; height: 32px;">2017</td>
                    <td style="width: 140px; height: 32px;">Arjun Reddy</td>
                    <td style="width: 140px; height: 32px;">Arjun Reddy</td>
                    <td style="width: 238px; height: 32px;">Filmfare Award</td>
                </tr>
                <tr style="height: 35px;">
                    <td style="width: 136px; height: 35px;">2018</td>
                    <td style="width: 140px; height: 35px;">Geetha Govindam</td>
                    <td style="width: 140px; height: 35px;">Vijay Govind</td>
                    <td style="width: 238px; height: 35px;"></td>
                </tr>
                <tr style="height: 35px;">
                    <td style="width: 136px; height: 35px;">2019</td>
                    <td style="width: 140px; height: 35px;">Dear Comrade</td>
                    <td style="width: 140px; height: 35px;">Bobby</td>
                    <td style="width: 238px; height: 35px;">Telugu Film, dubbed in 3 languages</td>
                </tr>
            </tbody>
        </table>
    </p>
</div>