@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to Field Hockey Cup Tournament</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <p>
                Field hockey is a team game of the hockey family. The game can be played on grass, water turf, artificial turf or synthetic field as well as an indoor board surface. Each team plays with eleven players, including the goalie. Players use sticks made out of wood, carbon fibre, fibre glass or a combination of carbon fibre and fibre glass in different quantities (with the higher carbon fibre stick being more expensive and less likely to break) to hit a round, hard, plastic ball. The length of the stick is based on the player's individual height. Only one face of the stick is allowed to be used. Goalies often have a different kind of stick, however they can also use an ordinary field hockey stick.
            </p>
            <h2>Men's Hockey World Cup</h2>
            <p>
                Belgium have claimed their first ever World Cup title thanks to a dramatic shoot-out victory over the Netherlands in the final of the Odisha Hockey Men’s World Cup Bhubaneswar 2018.
            </p>
            <p>
                It proved to be third time lucky for the Red Lions, who finished runners up at both the Rio 2016 Olympic Games and the EuroHockey Championships in 2017. Goalkeeper Vincent Vanasch excelled in the shoot-out, making numerous key saves to help his side became the first Belgium side in any team sport to win a world title.
            </p>
            <p>
                As well as winning the iconic trophy for the first time in their history, it has been confirmed that Belgium, coached by New Zealander Shane McLeod, have moved into first position in the FIH Hero World Rankings.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/images/Wc.jpg"
            alt="Example" width="400" height="400" class="rounded float-right">
        </div>
    </div>

    <div class="row">
        <h3>Dashboards</h3>
        <div class="col-sm-6">
            <table class="table table-bordered table-black">
                <thead>
                    <tr>
                        <th colspan="2">Statistics</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of Teams</td>
                        <td class="text-right">@Model.NumberOfTeams</td>
                    </tr>
                    <tr>
                        <td>Participating Countries</td>
                        <td class="text-right">@Model.NumberOfCountries</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
    

    
    
    

